body {
  width: 45em;
  margin: auto;
  line-height: 130%;

  &.list {
    ul {
      list-style: none;
      padding: 0;

      .languages,
      time {
        font-size: small;
        color: gray;

        &:before {
          content: "\2014";
        }

        a {
          text-decoration: none;

          &:before {
            content: "\00b7\0020";
            cursor: default;
          }

          &:first-child:before {
            content: "";
          }
        }
      }
    }
  }
}
