name: test
on: [push, pull_request]

jobs:
  test:
    strategy:
      matrix:
        os: [macos-10.15, ubuntu-20.04, windows-2019]
      fail-fast: false
    runs-on: ${{ matrix.os }}
    env:
      OS: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2
      - uses: denoland/setup-deno@v1
        with:
          deno-version: v1.x
      - if: "runner.os == 'Linux'"
        run: sudo apt-get install -y sassc
      - if: "runner.os == 'macOS'"
        run: brew install sass/sass/sass
      - if: "runner.os == 'Windows'"
        run: choco install sass
      - run: deno test --allow-read --allow-write --allow-run --jobs=4 --coverage=.cov
      - run: deno coverage --lcov .cov > .cov.lcov
      - uses: codecov/codecov-action@v2
        with:
          files: .cov.lcov
          env_vars: OS
  lint:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      - uses: denoland/setup-deno@v1
        with:
          deno-version: v1.x
      - run: deno lint
      - run: deno fmt --check --ignore=.vscode/
  test-examples:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      - uses: denoland/setup-deno@v1
        with:
          deno-version: v1.x
      - run: sudo apt-get install -y sassc
      - run: |
          set -e
          cd examples/blog/
          deno run -A main.ts
